@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
